#dropArea {
  background: #fff;
}
#dropArea.dropAreaOver {
  background: #ccc;
}
.wp_drop input,
.wp_drop input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.wp_drop .wp_drop_inner {
  display: grid;
  grid-template-columns: 1fr 150px 150px 100px;
  -ms-flex-align: center;
  align-items: center;
}
.wp_drop .wp_drop_inner.error {
  grid-template-columns: 1fr 400px;
}
